body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: none;

    padding: 0;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
    url('../background.jpg')
    no-repeat
    top center
    fixed
    content-box;
    background-size: cover;
}

#content {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    gap: 2%;
    color: white;
    font-family:  'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    transition-duration: 0.5s;
}

.header > p:hover {
    color: rgb(231, 231, 231);
    cursor: pointer;
}



.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 183px;
    color: white;
    text-align: center;
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* CIRCLES */

.circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.circles > div {
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 20px;
    height: 20px;
    margin: 10px;
}

/* MENU CIRCLES */

.menuCircles > div {
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 30px;
}

.menuCircles > div:first-child {
    margin-bottom: 40px;
}

.menuCircles > div:last-child {
    margin-top: 40px;
}


.bottom_line {
    width: 299.01px;
    height: 0px;
    border: 5px solid #FFFFFF;
    margin-left: 2%;
}

/* MENU STYLING */

.mainSect {
    background-color: rgba(10, 8, 27, 0.79);;
    width: 80%;
    height: 90%;
}

.mainSect > h2 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
}

/* ABOUT STYLING */

.aboutCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 14%;
}

.aboutMainSect {
    background-color: rgba(10, 8, 27, 0.79);
    width: 85%;
    height: 80%;
}

.aboutTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: white;
    margin: 0;
}